body {
    /* HelveticaNeue-Light blows up on iOS when it gets bolded :/ I don't really
       want to track down a solution right now. */
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", HelveticaNeue, Helvetica, Arial, "Lucida Grande", sans-serif;
    min-width: 320px;
    color: rgb(56,55,56);
}
#wrapper {
    float: left;
    position: relative;
    left: 50%;
}
#center {
    float: left;
    position: relative;
    left: -50%;
}
#board {
    border-collapse:collapse;
    background-color: rgb(56,55,56);
}
#board td {
    height: 30px;
    width: 30px;
    border: 1px solid rgb(56,55,56);
    text-align: center;
    color: white;
    font-weight: bold;

    -webkit-transition: opacity 125ms linear;
    -moz-transition: opacity 125ms linear;
    -o-transition: opacity 125ms linear;
    transition: opacity 125ms linear;
}
/* Color scheme from http://www.colourlovers.com/palette/2530958/Supplies4Me */
#board .adjacent {
    /* Warning color. */
    /* TODO: we see about setting the alpha based on the number of adjacent mines. */
    background-color: rgb(247, 148, 30);
}
#board.win .mine {
    /* A nice green to show you what you found. */
    background-color: rgb(141, 198, 63);
}
#board.loss .mine {
    /* Well you stepped in something. */
    background-color: rgb(238, 39, 58);
}
#board .empty {
    background-color: #fff;
}
#board .covered {
    background-color: rgb(37,170,225);
    /* Get the text out of the way so the numbers don't appear if you
       highlight the table. You can still copy/paste but this avoids
       accidental display. */
    text-indent: -9999px;
}
#board .covered:hover {
    cursor: pointer;
}
.invisible {
    opacity: 0;
}
.hidden {
    display: none;
}